---
import Layout from "~/layouts/Markdown.astro";
import { getCollection } from "astro:content";
import { formatDateTime, utcToLocalTime } from "~/components/time.js";

export async function getStaticPaths() {
  const items = await getCollection("anlaesse");

  return items.map((item) => ({
    params: {
      slug: item.slug,
    },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
const localDate = utcToLocalTime(item.data.datum);
---

<Layout frontmatter={item.data}>
  <h2>{item.data.title}</h2>
  <p>
    <time datetime={localDate.toISOString()}>{formatDateTime(localDate)}</time> in {item.data.ort}
  </p>
  <Content />
</Layout>
<style>
  p {
    @apply text-gray uppercase;
  }
</style>
