---
import CoverImage from "./CoverImage.astro";
import { getImage } from "./images.js";

export interface Props {
  // Image URLs.
  images: string[];
  // Auto-rotation interval in seconds.
  interval?: number;
}

const { images, interval = 5 } = Astro.props;
// Aspect ration of the first image will be used for all carousel images:
const first = images[0] ? await getImage(images[0]) : undefined;
const aspectRatio = first ? `${first.width}/${first.height}` : undefined;
---

{images.length === 1 && !!first && <CoverImage src={first} />}
{images.length > 1 && (
    <div class="carousel" data-interval={interval}>
      <ul class="items no-scrollbar">
        {images.map((image) => (
          <li style={{ "aspect-ratio": aspectRatio }}>
            <CoverImage src={image} height="full" />
          </li>
        ))}
      </ul>
    </div>
  )}
<style>
  .carousel {
    @apply wide-image relative;

    & ul.items {
      @apply pl-0 w-full flex overflow-x-auto;
      list-style-type: none;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      & li {
        @apply wide-image flex-shrink-0 flex-grow-0;
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll<HTMLDivElement>(".carousel").forEach((container) => {
      // Parse auto-rotation interval:
      const interval = Number.parseInt(container.dataset.interval ?? "5", 10) * 1000;
      // Store currently visible carousel item:
      let current = 0;
      // Flag to pause carousel auto-rotation:
      let pause = false;

      /**
       * Scrolls carousel by 0-based index.
       * Index can overflow and will loop over.
       */
      function scrollTo(index: number) {
        const items = container.querySelector<HTMLUListElement>(".items");
        if (!items) {
          return;
        }
        const count = items.childElementCount;
        current = index % count;
        const width = items.scrollWidth;
        const one = width / count;
        items.scroll({
          left: index * one,
          behavior: "smooth",
        });
      }

      // Trigger scrolling of the first element to update controls:
      scrollTo(current);

      // Setup auto-rotation:
      const timer = setInterval(() => {
        if (!pause) {
          scrollTo(current + 1);
        }
      }, interval);

      // Pause auto-rotation when user moves mouse inside carousel:
      container.addEventListener("mouseenter", () => {
        pause = true;
      });
      container.addEventListener("mouseleave", () => {
        pause = false;
      });

      // Stop auto-rotation when user manually scrolls:
      const stopTimer = () => {
        clearInterval(timer);
      };
      container.addEventListener("wheel", stopTimer);
      container.addEventListener("touchmove", stopTimer);
      // `mousedown` is touch workaround for Safari:
      container.addEventListener("mousedown", stopTimer);
    });
  });
</script>
